repo = "github.com/rafaeljusto/shelter"

[deps.idna]
import = "code.google.com/p/go.net/idna"
commit = "c17ad62118ea511e1051721b429779fa40bddc74"

[deps.dns]
import = "github.com/miekg/dns"
commit = "5592ee41726b2674881d3d2f90bdb12c0609ef51"

[deps.mgo]
import = "labix.org/v2/mgo"
tag = "r2014.03.12"

[deps.termbox]
import = "github.com/nsf/termbox-go"
commit = "9057ff8444202d6f81a268bee037da71c3b15625"
