@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #1b5169;
  background: radial-gradient(ellipse at center, #1b5169 0%,#207cca 0%,#1b5169 100%);
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  min-width: 320px;
  width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**********************************/
/* Title and block related styles */
/**********************************/

h1 {
  color: #fff;
  font-family: "Londrina Shadow", cursive;
  margin: 20px auto 20px auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-family: "Londrina Shadow", cursive;
}

h3 {
  margin: 0px 20px 0px 20px;
}

section {
  margin: auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  width: 98%;
}

/**********************************/
/* Navigation menu related styles */
/**********************************/

nav {
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 98%;
}

nav ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0px;
}

nav ul li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 1.2rem 0.4rem 1.2rem 0.4rem;
  transition: background-color 0.2s;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li:hover {
  background-color: #1b5169;
  color: #fff;
  transition: background-color 0.4s;
}

/**********************************/
/* Language related styles        */
/**********************************/

.languages {
  text-align: right;
}

.languages a {
  color: #fff;
  cursor: pointer;
}

/**********************************/
/* Form related styles            */
/**********************************/

fieldset {
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  margin: 40px 0px 40px 0px;
}

fieldset legend {
  background-color: #9dce2c;
  background: linear-gradient(to bottom, #9dce2c 0%,#61c10d 89%);
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

label {
  display: block;
}

input {
  font-size: 1rem;
}

button[type=submit] {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #9dce2c;
  border: 1px solid #83c41a;
  box-shadow: inset 0px 1px 0px 0px #c1ed9c;
  color: #ffffff;
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  height: 65px;
  line-height: 65px;
  margin: 20px auto 0px auto;
  text-shadow: 1px 1px 0px #689324;
}

button[type=button] {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #3d94f6;
  border: 1px solid #337fed;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 10px 0px 0px 0px;
  text-shadow: 1px 1px 0px #1570cd;
}

button[type=button].remove {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #f24537;
  border: 1px solid #d02718;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  color: #ffffff;
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 20px 0px 0px auto;
  text-shadow: 1px 1px 0px #810e05;
}

button[type=submit]:active, button[type=button]:active {
  /* http://www.cssbuttongenerator.com/ */
  position: relative;
  top: 1%;
}

/**********************************/
/* List related styles            */
/**********************************/

article {
  background-color: #fff;
}

article header {
  background-color: #3d94f6;
  border-bottom: 1px solid #000;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: bold;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  text-shadow: 1px 1px 0px #1570cd;
}

.error {
  background-color: #f24537;
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  text-shadow: 1px 1px 0px #810e05;
}

.ok {
  background-color: #9dce2c;
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  text-shadow: 1px 1px 0px #689324;
}

article h4 {
  margin: 20px 10px 20px 10px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.details {
  padding: 0rem 0rem 1rem 0rem;
}

.fieldgroup {
  border-bottom: 1px solid #888;
  padding: 0rem 0rem 1rem 0rem;
}

.field, .content-edit {
  margin: 20px 10px 0px 10px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.field label, .field caption {
  color: #888;
  text-align: left;
}

.field span {
  display: block;
}

.field table {
  width: 100%;
}

.field th, .field td {
  text-align: left;
}

.content-edit fieldset {
  border: 1px solid #000;
}

button[type=button].content-edit-button {
  display: block;
  margin: 20px auto 0px auto;
}

/**********************************/
/* Pagination related styles      */
/**********************************/

.pagination {
  margin: 20px 0px 0px 0px;
}

.pagination > label {
  color: #fff;
}

.pagination > div {
  display: inline-block;
  margin: 20px 10px 20px 10px;
}

.pagination > div > span {
  background-color: #f24537;
  border: 1px solid #d02718;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  min-width: 41px;
  padding: 1px 6px;
  text-align: center;
  text-shadow: 1px 1px 0px #1570cd;
}

.pagination > div > button {
  background-color: #3d94f6;
  border: 1px solid #337fed;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  min-width: 41px;
  text-align: center;
  text-shadow: 1px 1px 0px #1570cd;
}