/*
 * Copyright 2014 Rafael Dantas Justo. All rights reserved.
 * Use of this source code is governed by a GPL
 * license that can be found in the LICENSE file.
 */

@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Shadow'),
    local('LondrinaShadow-Regular'),
    url(/fonts/londrina-shadow.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'),
    url(/fonts/montserrat-400.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'),
    url(/fonts/montserrat-700.woff) format('woff');
}

@viewport {
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #1b5169;
  background: radial-gradient(ellipse at center, #1b5169 0%,#207cca 0%,#1b5169 100%);
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  min-width: 320px;
  width: 100%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/**********************************/
/* Title and block related styles */
/**********************************/

h1 {
  color: #fff;
  font-family: "Londrina Shadow", cursive;
  margin: 20px auto 20px auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  text-align: center;
}

h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

h3 {
  display: table-cell;
  padding: 10px 10px 10px 20px;
  width: 100%;
}

/* Used to split the registration form to fill the form or upload a CSV file */
.choose-title {
  color: #fff;
  display: block;
  font-size:1.5em;
  margin: 20px auto 20px auto;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

section {
  margin: auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  width: 98%;
}

@media (min-width: 470px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

footer {
  color: #fff;
  text-align: center;
}

/**********************************/
/* Navigation menu related styles */
/**********************************/

nav {
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 98%;
}

nav ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0px;
}

nav ul li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 1.2rem 0.4rem 1.2rem 0.4rem;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li:hover {
  background-color: #1b5169;
  color: #fff;
}

@media (min-width: 470px) {
  nav ul {
    text-align: center;
  }

  nav ul li {
    border-bottom: none;
    border-right: 1px solid #eee;
    display: inline-block;
    width: 30%;
  }

  nav ul li:last-child {
    border-right: none;
  }
}

/**********************************/
/* Language related styles        */
/**********************************/

.languages {
  text-align: right;
}

.languages a {
  color: #fff;
  cursor: pointer;
}

.languages a:after {
  content: " | ";
}

.languages a:last-child:after {
  content: " ";
}

/**********************************/
/* Form related styles            */
/**********************************/

fieldset {
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  margin: 20px 0px 0px 0px;
}

fieldset legend {
  background-color: #9dce2c;
  background: linear-gradient(to bottom, #9dce2c 0%,#61c10d 89%);
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

fieldset legend a {
  color: white;
  margin: 0px 0px 0px 5px;
}

label {
  display: block;
}

input {
  font-size: 1rem;
}

/* http://cssdeck.com/labs/css-checkbox-styles */

.checkbox {
  background: linear-gradient(top, #222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  cursor: pointer;
  display: inline-block;
  height: 25px;
  left: 5px; /* This will not look good when total height is different from 45px */
  position: relative;
  top: 5px; /* This will not look good when total height is different from 45px */
  width: 25px;
}

.checkbox:after {
  background: transparent;
  border: 3px solid #fcfff4;
  border-right: none;
  border-top: none;
  content: '';
  height: 9px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 13px;
}

.checkbox:hover::after {
  opacity: 0.3;
}

.checkbox-selected:after {
  opacity: 1 !important;
}

/* http://www.cssbuttongenerator.com/ */

button[type=submit] {
  background-color: #9dce2c;
  border: 1px solid #83c41a;
  box-shadow: inset 0px 1px 0px 0px #c1ed9c;
  color: #fff;
  text-shadow: 1px 1px 0px #689324;
}

button[type=button] {
  background-color: #3d94f6;
  border: 1px solid #337fed;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: #fff;
  text-shadow: 1px 1px 0px #1570cd;
}

button[type=submit]:active,
button[type=button]:active {
  position: relative;
  top: 1%;
}

.remove-button {
  background-color: #f24537 !important;
  border: 1px solid #d02718 !important;
  box-shadow: inset 0px 1px 0px 0px #f5978e !important;
  color: #fff !important;
  text-shadow: 1px 1px 0px #810e05 !important;
}

.normal-button {
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 10px 0px 0px 0px;
  min-width: 81px;
}

.right-button {
  display: block !important;
  margin: 20px 0px 0px auto !important;
}

.big-button {
  display: inline-block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  height: 65px;
  line-height: 65px;
  margin: 10px 0px 0px 0px;
  min-width: 102px;
}

.buttons {
  margin: 20px auto 0px auto;
  padding: 0px 0px 20px 0px;
  width: 100%;
  text-align: center;
}

.statistics th {
  width: 20%;
}

.csv-results {
  font-size: 1.6rem;
  margin: 20px auto 20px auto;
  text-align: center;
}

.csv-results > .fa-check {
  color: green;
}

.csv-results > .fa-times {
  color: red;
}

.scroll {
  background: linear-gradient(to right, #f24537 0%,#8f0222 70%,#6d0019 100%);
  background-color: #f24537;
  max-height: 200px;
  overflow: auto;
  text-shadow: 1px 1px 0px #810e05;
}

/**********************************/
/* List related styles            */
/**********************************/

article {
  background-color: #fff;
}

article header {
  background: linear-gradient(to right, #3d94f6 0%,#0c7ff2 56%,#002d99 100%);
  background-color: #3d94f6;
  border-bottom: 1px solid #000;
  color: #fff;
  cursor: pointer;
  display: table;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: bold;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  text-shadow: 1px 1px 0px #1570cd;
  transition: all linear 1.5s;
}

article header:hover {
  color: #000;
}

article h4 {
  margin: 20px 10px 20px 10px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

progress {
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  display: block;
  height: 25px;
  margin: 20px auto 0px auto;
  padding: 5px;
  width: 80%;
}

.domain-ok,
.domain-error {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  transition: all linear 1.5s;
}

.domain-error {
  background: linear-gradient(to right, #f24537 0%,#8f0222 70%,#6d0019 100%);
  background-color: #f24537;
  text-shadow: 1px 1px 0px #810e05;
}

.domain-ok {
  background: linear-gradient(to right, #9dce2c 0%,#8ab66b 83%,#8ab66b 100%);
  background-color: #9dce2c;
  text-shadow: 1px 1px 0px #689324;
}

.fieldgroup {
  border-bottom: 1px solid #888;
  padding: 0rem 0rem 1rem 0rem;
}

.field,
.content-edit {
  margin: 20px 10px 0px 10px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.field label,
.field caption {
  color: #888;
  text-align: left;
}

.field span {
  display: block;
}

.field table {
  width: 100%;
}

.field th,
.field td {
  text-align: left;
}

.content-edit fieldset {
  border: 1px solid #000;
}

.current-scan {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}

.current-scan > header {
  cursor: default;
}

.filter {
  margin-bottom: 20px;
}

.filter label {
  color: #fff;
  font-size: 1rem;
}

/**********************************/
/* Pagination related styles      */
/**********************************/

.pagination {
  margin: 20px 0px 0px 0px;
}

.pagination > label {
  color: #fff;
}

.pagination > div {
  display: inline-block;
  margin: 20px 10px 20px 10px;
  min-width: 45px;
}

.pagination > div > span,
.pagination > div > button {
  border-radius: 3px;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  min-width: 41px;
  padding: 1px 6px;
  text-align: center;
  text-shadow: 1px 1px 0px #1570cd;
}

.pagination > div > span {
  background-color: #f24537;
  border: 1px solid #d02718;
}

.pagination > div > button {
  background-color: #3d94f6;
}

.pagination > div > button:active {
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

/**********************************/
/* Animation related styles       */
/**********************************/

.animate.ng-move,
.animate.ng-enter,
.animate.ng-leave {
  transition: all linear 0.5s;
}

.animate.ng-move,
.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate.ng-move.ng-move-active,
.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
  opacity: 1;
}

.ng-hide-add,
.ng-hide-remove {
  display: block !important;
  opacity: 1;
  transition: all linear 0.5s;
}

.ng-hide {
  opacity: 0;
}