@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #1b5169;
  background: radial-gradient(ellipse at center, #1b5169 0%,#207cca 0%,#1b5169 100%);
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  min-width: 320px;
  width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**********************************/
/* Title and block related styles */
/**********************************/

h1 {
  color: #fff;
  font-family: "Londrina Shadow", cursive;
  margin: 0.2rem 0.4rem 0.2rem 0.4rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  text-align: center;
}

section {
  margin: 0.2rem 0.4rem 0.2rem 0.4rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

/**********************************/
/* Navigation menu related styles */
/**********************************/

nav {
  background-color: #fff;
  border-radius: 10px;
  margin: 0.8% 0.8% 0.8% 0.8%;
}

nav ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0%;
}

nav ul li {
  cursor: pointer;
  padding: 1.2rem 0.4rem 1.2rem 0.4rem;
  transition: background-color 0.2s;
}

nav ul li:hover {
  background-color: #1b5169;
  color: #fff;
  transition: background-color 0.4s;
}

/***********************************/
/* Language buttons related styles */
/***********************************/

.languages {
  text-align: right;
}

.languages a {
  color: #fff;
  cursor: pointer;
}

/**********************************/
/* Form and list related styles   */
/**********************************/

article header {
  cursor: pointer;
  padding: 0.8rem 0.4rem 0.8rem 0.4rem;
  transition: background-color 0.2s;
}

article header:hover {
  background-color: #1b5169;
  color: #fff;
  transition: background-color 0.4s;
}

fieldset {
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  margin: 4% 0% 4% 0%;
  transition: opacity 0.5s;
}

fieldset legend {
  background-color: #9dce2c;
  background: linear-gradient(to bottom, #9dce2c 0%,#61c10d 89%);
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

label {
  display: block;
}

input {
  font-size: 1rem;
}

button[type=submit] {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #9dce2c;
  border: 1px solid #83c41a;
  box-shadow: inset 0px 1px 0px 0px #c1ed9c;
  color: #ffffff;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  margin: 6% auto 6% auto;
  text-shadow: 1px 1px 0px #689324;
}

button[type=button] {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #3d94f6;
  border: 1px solid #337fed;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 4% 0% 4% 0%;
  text-shadow: 1px 1px 0px #1570cd;
}

button[type=button].remove {
  /* http://www.cssbuttongenerator.com/ */
  background-color: #f24537;
  border: 1px solid #d02718;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  color: #ffffff;
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 6% 0% 0% auto;
  text-shadow: 1px 1px 0px #810e05;
}

button[type=submit]:active, button[type=button]:active {
  /* http://www.cssbuttongenerator.com/ */
  position: relative;
  top: 1%;
}

.field label, .field span {
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.field span {
  display: block;
}