<!--
 Copyright 2014 Rafael Dantas Justo. All rights reserved.
 Use of this source code is governed by a GPL
 license that can be found in the LICENSE file.
-->

<article data-ng-init="details = false; form = {}">
  <header data-ng-click="toggleDetails(domain)"
    data-ng-class="{'domain-error': hasErrors(domain),
      'domain-ok': !hasErrors(domain) && wasChecked(domain)}">
    <h3>{{domain.fqdn}}</h3>
  </header>

  <div class="content" data-ng-show="details && !data.edit">
    <h4 data-ng-show="freshDomain.nameservers.length > 0" translate>Nameservers</h4>
    <div data-ng-repeat="nameserver in freshDomain.nameservers" class="fieldgroup">
      <div class="field">
        <label translate>Host</label><span>{{nameserver.host}}</span>
      </div>
      <div class="field" data-ng-show="nameserver.ipv4.length > 0">
        <label translate>IPv4</label><span>{{nameserver.ipv4}}</span>
      </div>
      <div class="field" data-ng-show="nameserver.ipv6.length > 0">
        <label translate>IPv6</label><span>{{nameserver.ipv6}}</span>
      </div>
      <div class="field">
        <label translate>Status</label><span>{{nameserver.lastStatus}}</span>
      </div>
      <div class="field" data-ng-show="dateDefined(nameserver.lastCheckAt)">
        <label translate>Checked</label><span>{{nameserver.lastCheckAt | datetime:getLanguage()}}</span>
      </div>
      <div class="field" data-ng-show="dateDefined(nameserver.lastOKAt)">
        <label translate>Last OK</label><span>{{nameserver.lastOKAt | datetime:getLanguage()}}</span>
      </div>
    </div>

    <h4 data-ng-show="freshDomain.dsset.length > 0" translate>DS set</h4>
    <div data-ng-repeat="ds in freshDomain.dsset" class="fieldgroup">
      <div class="field">
        <label translate>Keytag</label><span>{{ds.keytag}}</span>
      </div>
      <div class="field">
        <label translate>Algorithm</label><span>{{getAlgorithm(ds.algorithm)}}</span>
      </div>
      <div class="field">
        <label translate>DigestType</label><span>{{getDSDigestType(ds.digestType)}}</span>
      </div>
      <div class="field">
        <label translate>Digest</label><span>{{showDSDigest(ds.digest)}}</span>
      </div>
      <div class="field">
        <label translate>Status</label><span>{{ds.lastStatus}}</span>
      </div>
      <div class="field" data-ng-show="dateDefined(ds.lastCheckAt)">
        <label translate>Checked</label><span>{{ds.lastCheckAt | datetime:getLanguage()}}</span>
      </div>
      <div class="field" data-ng-show="dateDefined(ds.lastOKAt)">
        <label translate>Last OK</label><span>{{ds.lastOKAt | datetime:getLanguage()}}</span>
      </div>
    </div>

    <h4 data-ng-show="freshDomain.owners.length > 0" translate>Owners</h4>
    <div data-ng-repeat="owner in freshDomain.owners" class="fieldgroup">
      <div class="field">
        <label translate>E-mail</label><span>{{owner.email}}</span>
      </div>
      <div class="field">
        <label translate>Language</label><span>{{owner.language}}</span>
      </div>
    </div>
  </div>

  <div class="buttons" data-ng-show="details && !data.edit">
    <button type="button" class="big-button"
      data-ng-init="data.edit = false" data-ng-click="data.edit = true">
      <i class="fa fa-edit"></i>
      {{ "Edit" | translate }}
    </button>
    <button type="button" class="big-button" data-ng-init="verifyWorking = false"
      data-ng-click="verifyDomain(freshDomain)" data-ng-disabled="verifyWorking">
      <div data-ng-if="verifyWorking">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!verifyWorking">
        <i class="fa fa-search"></i>
        {{ "Verify" | translate }}
      </div>
    </button>
    <button type="button" class="big-button remove-button"
      data-ng-init="removeWorking = false"
      data-ng-click="removeDomain(freshDomain)" data-ng-disabled="removeWorking">
      <div data-ng-if="removeWorking">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!removeWorking">
        <i class="fa fa-trash-o"></i>
        {{ "Remove" | translate }}
      </div>
    </button>
  </div>

  <div class="content-edit" data-ng-show="details && data.edit">
    <button type="button" class="normal-button right-button"
      data-ng-click="data.edit = false" translate>
      Close
    </button>
    <domainform domain="freshDomain" form-ctrl="form"></domainform>
  </div>
</article>