<!--
 Copyright 2014 Rafael Dantas Justo. All rights reserved.
 Use of this source code is governed by a GPL
 license that can be found in the LICENSE file.
-->

<form data-ng-submit="saveDomain(domain)">
  <fieldset>
    <legend>
      {{ "Upload CSV" | translate }} 
      <a href="https://github.com/rafaeljusto/shelter/wiki/CSV-format">
        <i class="fa fa-question-circle"></i>
      </a>
    </legend>
    <input type="file" data-on-read-file="storeCSVFile($fileContent)" id="csv" />
    <button type="button" class="normal-button" data-ng-init="csv.working = false"
      data-ng-click="importCSV()"
      data-ng-disabled="csv.working">
      <div data-ng-if="csv.working">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!csv.working">
        <i class="fa fa-sign-in"></i>
        {{ "Import" | translate }}
      </div>
    </button>

    <div data-ng-show="csv.domainsToUpload > 0">
      <progress value="{{csv.domainsUploaded}}" max="{{csv.domainsToUpload}}"></progress>
      <div class="csv-results">
        <i class="fa fa-check"></i>{{ csv.success }}
        <i class="fa fa-times"></i>{{ csv.errors.length }}
      </div>
      <div class="scroll" data-ng-show="csv.errors.length > 0">
        <ul>
          <li data-ng-repeat="error in csv.errors">
            {{ "Line" | translate }} {{error.lineNumber}}: {{error.message}}
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
  <span class="choose-title" translate>OR</span>
  <fieldset>
    <legend translate>Basic information</legend>
    <label for="fqdn" autofocus translate>FQDN</label>
    <input type="text" data-ng-model="domain.fqdn"
      placeholder="example.com."
      title="{{ 'FQDN help' | translate }}"
      required>
    <button type="button" class="normal-button" data-ng-init="importWorking = false"
      data-ng-click="queryDomain(domain.fqdn)"
      data-ng-disabled="domain.fqdn.length == 0 || importWorking">
      <div data-ng-if="importWorking">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!importWorking">
        <i class="fa fa-sign-in"></i>
        {{ "Import" | translate }}
      </div>
    </button>
  </fieldset>

  <fieldset class="animate"
    data-ng-repeat="nameserver in domain.nameservers track by $index">

    <legend>{{ "Nameserver" | translate }} {{$index+1}}</legend>

    <label for="host{{$index+1}}" translate>Host</label>
    <input type="text" id="host{{$index+1}}"
      data-ng-model="domain.nameservers[$index].host"
      placeholder="ns1.example.com."
      title="{{ 'Host help' | translate }}"
      pattern="^((\w((\w|\-){0,61}\w)?\.)*\w((\w|\-){0,61}\w)?)?(\.)?$"
      required>

    <label for="ipv4{{$index+1}}" translate
      data-ng-show="needsGlue(domain.fqdn, nameserver.host)">IPv4</label>
    <input type="text" id="ipv4{{$index+1}}"
      data-ng-show="needsGlue(domain.fqdn, nameserver.host)"
      data-ng-model="domain.nameservers[$index].ipv4"
      placeholder="203.0.113.1"
      title="{{ 'IPv4 help' | translate }}"
      pattern="^[0-9]{1,4}\.[0-9]{1,4}\.[0-9]{1,4}\.[0-9]{1,4}$">

    <label for="ipv6{{$index+1}}" translate
      data-ng-show="needsGlue(domain.fqdn, nameserver.host)">IPv6</label>
    <!-- https://github.com/richb-intermapper/IPv6-Regex -->
    <input type="text" id="ipv6{{$index+1}}"
      data-ng-show="needsGlue(domain.fqdn, nameserver.host)"
      data-ng-model="domain.nameservers[$index].ipv6"
      placeholder="fe80::0202:b3ff:fe1e:8329"
      title="{{ 'IPv6 help' | translate }}"
      pattern="^((?=.*::)(?!.*::.+::)(::)?([\da-fA-F]{1,4}:(:|\b)|){5}|([\da-fA-F]{1,4}:){6})((([\da-fA-F]{1,4}((?!\3)::|:\b|$))|(?!\2\3)){2}|(((2[0-4]|1\d|[1-9])?\d|25[0-5])\.?\b){4})$">

    <button type="button" class="normal-button remove-button right-button"
      data-ng-click="removeFromList($index, domain.nameservers)">
      <i class="fa fa-times-circle"></i>
      {{ "Remove" | translate }}
    </button>
  </fieldset>

  <button type="button" class="normal-button"
    data-ng-click="addToList(emptyNameserver, domain.nameservers)">
    <i class="fa fa-plus-circle"></i>
    {{ "Add" | translate }} {{ "Nameserver" | translate }}
  </button>

  <fieldset class="animate"
    data-ng-repeat="dnskey in domain.dnskeys track by $index">

    <legend>{{ "DNSKEY" | translate }} {{$index+1}}</legend>

    <label for="flags{{$index+1}}" translate>Flags</label>
    <select id="flags{{$index+1}}" data-ng-model="domain.dnskeys[$index].flags"
      data-ng-options="flags.id as flags.name for flags in dnskeyFlags"
      required>
    </select>

    <label for="dnskeyAlgorithm{{$index+1}}" translate>Algorithm</label>
    <select id="dnskeyAlgorithm{{$index+1}}" data-ng-model="domain.dnskeys[$index].algorithm"
      data-ng-options="algorithm.id as algorithm.name for algorithm in algorithms"
      required>
    </select>

    <label for="publickKey{{$index+1}}" translate>Public Key</label>
    <input type="text" id="publicKey{{$index+1}}" data-ng-model="domain.dnskeys[$index].publicKey"
      required>

    <button type="button" class="normal-button remove-button right-button"
      data-ng-click="removeFromList($index, domain.dnskeys)">
      <i class="fa fa-times-circle"></i>
      {{ "Remove" | translate }}
    </button>
  </fieldset>

  <button type="button" class="normal-button"
    data-ng-click="addToList(emptyDNSKEY, domain.dnskeys)">
    <i class="fa fa-plus-circle"></i>
    {{ "Add" | translate }} {{ "DNSKEY" | translate }}
  </button>

  <fieldset class="animate"
    data-ng-repeat="ds in domain.dsset track by $index">

    <legend>{{ "DS" | translate }} {{$index+1}}</legend>

    <label for="keytag{{$index+1}}" translate>Keytag</label>
    <input type="number" id="keytag{{$index+1}}"
      data-ng-model="domain.dsset[$index].keytag"
      placeholder="1234"
      min="1" max="65536" step="1"
      title="{{ 'Keytag help' | translate }}"
      pattern="[0-9]+"
      required>

    <label for="dsAlgorithm{{$index+1}}" translate>Algorithm</label>
    <select id="dsAlgorithm{{$index+1}}" data-ng-model="domain.dsset[$index].algorithm"
      data-ng-options="algorithm.id as algorithm.name for algorithm in algorithms"
      required>
    </select>

    <label for="digestType{{$index+1}}" translate>Digest Type</label>
    <select id="digestType{{$index+1}}" data-ng-model="domain.dsset[$index].digestType"
      data-ng-options="digestType.id as digestType.name for digestType in dsDigestTypes"
      required>
    </select>

    <label for="digest{{$index+1}}" translate>Digest</label>
    <input type="text" id="digest{{$index+1}}" data-ng-model="domain.dsset[$index].digest"
      required>

    <button type="button" class="normal-button remove-button right-button"
      data-ng-click="removeFromList($index, domain.dsset)">
      <i class="fa fa-times-circle"></i>
      {{ "Remove" | translate }}
    </button>
  </fieldset>

  <button type="button" class="normal-button"
    data-ng-click="addToList(emptyDS, domain.dsset)">
    <i class="fa fa-plus-circle"></i>
    {{ "Add" | translate }} {{ "DS" | translate }}
  </button>

  <fieldset class="animate"
    data-ng-repeat="owner in domain.owners track by $index">

    <legend>{{ "Owner" | translate }} {{$index+1}}</legend>

    <label for="email{{$index+1}}" translate>E-mail</label>
    <input type="email" id="email{{$index+1}}"
      data-ng-model="domain.owners[$index].email"
      placeholder="me@example.com."
      required>

    <label for="language{{$index+1}}" translate>Language</label>
    <select id="language{{$index+1}}" data-ng-model="domain.owners[$index].language"
      data-ng-options="language for language in ownerLanguages" required>
    </select>

    <button type="button" class="normal-button remove-button right-button"
      data-ng-click="removeFromList($index, domain.owners)">
      <i class="fa fa-times-circle"></i>
      {{ "Remove" | translate }}
    </button>
  </fieldset>

  <button type="button" class="normal-button"
    data-ng-click="addToList(emptyOwner, domain.owners)">
    <i class="fa fa-plus-circle"></i>
    {{ "Add" | translate }} {{ "Owner" | translate }}
  </button>

  <div class="buttons">
    <button type="submit" class="big-button" data-ng-init="saveWorking = false"
      data-ng-disabled="saveWorking">
      <div data-ng-if="importWorking" data-ng-if="saveWorking">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!saveWorking">
        <i class="fa fa-floppy-o"></i>
        {{ "Save" | translate }}
      </div>
    </button>
    <button type="button" class="big-button" data-ng-init="verifyWorking = false"
      data-ng-click="verifyDomain(domain)" data-ng-disabled="verifyWorking">
      <div data-ng-if="verifyWorking">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div data-ng-if="!verifyWorking">
        <i class="fa fa-search"></i>
        {{ "Verify" | translate }}
      </div>
    </button>
  </div>
</form>