<!--
 Copyright 2014 Rafael Dantas Justo. All rights reserved.
 Use of this source code is governed by a GPL
 license that can be found in the LICENSE file.
-->

<article data-ng-init="details = false">
  <header data-ng-click="details = !details">
    <h3>{{scan.startedAt | datetime:getLanguage()}}</h3>
  </header>

  <div data-ng-show="details" class="content">
    <div class="field">
      <label translate>Status</label><span>{{scan.status}}</span>
    </div>
    <div class="field">
      <label translate>Started</label><span>{{scan.startedAt | datetime:getLanguage()}}</span>
    </div>
    <div class="field">
      <label translate>Finished</label><span>{{scan.finishedAt | datetime:getLanguage()}}</span>
    </div>
    <div class="field" data-ng-show="scan.domainsScanned">
      <label translate>Domains scanned</label><span>{{scan.domainsScanned}}</span>
    </div>
    <div class="field" data-ng-show="scan.domainsWithDNSSECScanned">
      <label translate>Domains scanned with DNSSEC</label><span>{{scan.domainsWithDNSSECScanned}}</span>
    </div>

    <div class="field" data-ng-show="scan.nameserverStatistics"
      data-ng-init="nsCounter = countStatistics(scan.nameserverStatistics)">
      <table>
        <caption translate>Nameservers statistics</caption>
        <tbody>
          <tr data-ng-repeat="(status, quantity) in scan.nameserverStatistics">
            <th>{{status}}</th>
            <td>{{quantity*100/nsCounter}}%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="field" data-ng-show="scan.dsStatistics"
      data-ng-init="dsCounter = countStatistics(scan.dsStatistics)">
      <table>
        <caption translate>DS statistics</caption>
        <tbody>
          <tr data-ng-repeat="(status, quantity) in scan.dsStatistics">
            <th>{{status}}</th>
            <td>{{quantity*100/dsCounter}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>