<!--
 Copyright 2014 Rafael Dantas Justo. All rights reserved.
 Use of this source code is governed by a GPL
 license that can be found in the LICENSE file.
-->

<article data-ng-init="details = false">
  <header data-ng-click="toggleDetails(scan)">
    <h3>{{scan.startedAt | datetime:getLanguage()}}</h3>
  </header>

  <div data-ng-show="details" class="content">
    <div class="field">
      <label translate>Status</label><span>{{freshScan.status}}</span>
    </div>
    <div class="field">
      <label translate>Started</label><span>{{freshScan.startedAt | datetime:getLanguage()}}</span>
    </div>
    <div class="field">
      <label translate>Finished</label><span>{{freshScan.finishedAt | datetime:getLanguage()}}</span>
    </div>
    <div class="field" data-ng-show="freshScan.domainsScanned">
      <label translate>Domains scanned</label><span>{{freshScan.domainsScanned}}</span>
    </div>
    <div class="field" data-ng-show="freshScan.domainsWithDNSSECScanned">
      <label translate>Domains scanned with DNSSEC</label><span>{{freshScan.domainsWithDNSSECScanned}}</span>
    </div>

    <div class="field" data-ng-show="freshScan.nameserverStatistics">
      <table class="statistics">
        <caption translate>Nameservers statistics</caption>
        <tbody>
          <tr data-ng-repeat="(status, quantity) in freshScan.nameserverStatistics">
            <th width="20%">{{status}}</th>
            <td>{{(quantity*100/countStatistics(freshScan.nameserverStatistics)).toFixed(2)}}%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="field" data-ng-show="freshScan.dsStatistics">
      <table class="statistics">
        <caption translate>DS statistics</caption>
        <tbody>
          <tr data-ng-repeat="(status, quantity) in freshScan.dsStatistics">
            <th>{{status}}</th>
            <td>{{(quantity*100/countStatistics(freshScan.dsStatistics)).toFixed(2)}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>