<!doctype html>

<!--
 Copyright 2014 Rafael Dantas Justo. All rights reserved.
 Use of this source code is governed by a GPL
 license that can be found in the LICENSE file.
-->

<html>
  <header>
    <title>Shelter</title>

    <meta charset="utf-8">
    <meta name="description" content="Shelter web client">
    <meta name="author" content="Rafael Dantas Justo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/shelter.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  </header>

  <body data-ng-app="shelter">
    <h1>Shelter</h1>

    <section data-ng-cloak data-ng-controller="languagesCtrl" class="languages">
      <a data-ng-if="getLanguage() != 'en_US'"
        data-ng-click="changeLanguage('en_US')">English</a>
      <a data-ng-if="getLanguage() != 'pt_BR'"
        data-ng-click="changeLanguage('pt_BR')">Portugu&ecirc;s</a>
      <a data-ng-if="getLanguage() != 'es_ES'"
        data-ng-click="changeLanguage('es_ES')">Espa&ntilde;ol</a>
    </section>

    <nav data-ng-cloak data-ng-init="menu = 'domains'">
      <ul>
        <li data-ng-click="menu = 'new_domain'">{{ "New Domain" | translate }}</li>
        <li data-ng-click="menu = 'domains'">{{ "Domains" | translate }}</li>
        <li data-ng-click="menu = 'scans'">{{ "Scans" | translate }}</li>
      </ul>
    </nav>

    <section data-ng-cloak data-ng-controller="domainCtrl"
      data-ng-show="menu == 'new_domain'">

      <header>
        <h2 translate>New Domain</h2>
      </header>

      <domainform domain="emptyDomain"></domainform>
    </section>

    <section data-ng-cloak data-ng-controller="domainsCtrl"
      data-ng-show="menu == 'domains'">

      <header>
        <h2>
          {{ "Domains" | translate }}
          <span data-ng-if="pagination.numberOfItems == 1">
            ({{pagination.numberOfItems}} {{ "item" | translate }})
          </span>
          <span data-ng-if="pagination.numberOfItems > 1">
            ({{pagination.numberOfItems}} {{ "items" | translate }})
          </span>
        </h2>
      </header>

      <div class="message error" data-ng-if="error">{{error}}</div>
      <div class="message success" data-ng-if="success">{{success}}</div>

      <domain class="animate"
        data-ng-repeat="domain in pagination.domains" domain="domain"></domain>

      <div class="pagination">
        <label translate>Page</label>
        <span>{{pagination.page}}</span>
        <div data-ng-repeat="link in pagination.links">
          <div data-ng-repeat="type in link.types" class="pagination-item">
            <button data-ng-click="retrieveDomainsByURI(link.href)">
              <i class="fa fa-forward" data-ng-if="type == 'next'"></i>
              <i class="fa fa-backward" data-ng-if="type == 'prev'"></i>
              <i class="fa fa-fast-backward" data-ng-if="type == 'first'"></i>
              <i class="fa fa-fast-forward" data-ng-if="type == 'last'"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="pagination">
        <label translate>Page size</label>
        <div data-ng-repeat="pageSize in pageSizes" class="pagination-item">
          <span data-ng-if="pageSize == pagination.pageSize">{{pageSize}}</span>
          <button data-ng-if="pageSize != pagination.pageSize"
            data-ng-click="retrieveDomains(pagination.page, pageSize)">

            {{pageSize}}
          </button>
        </div>
      </div>

      <div class="message error" data-ng-if="error">{{error}}</div>
      <div class="message success" data-ng-if="success">{{success}}</div>
    </section>

    <section data-ng-cloak data-ng-controller="scanCtrl"
      data-ng-show="menu == 'scans'">

      <header>
        <h2>
          {{ "Scans" | translate }}
          <span data-ng-if="pagination.numberOfItems == 1">
            ({{pagination.numberOfItems}} {{ "item" | translate }})
          </span>
          <span data-ng-if="pagination.numberOfItems > 1">
            ({{pagination.numberOfItems}} {{ "items" | translate }})
          </span>
        </h2>
      </header>

      <div class="message error" data-ng-if="error">{{error}}</div>
      <div class="message success" data-ng-if="success">{{success}}</div>

      <article class="current-scan">
        <header>
          <h3 translate>Next Scan</h3>
        </header>

        <div class="content">
          <div class="field">
            <label translate>Status</label><span>{{currentScan.status}}</span>
          </div>
          <div class="field">
            <label translate>Scheduled</label><span>{{currentScan.scheduledAt | datetime:getLanguage()}}</span>
          </div>

          <progress value="{{currentScan.domainsScanned}}"
            max="{{currentScan.domainsToBeScanned}}"></progress>
        </div>
      </article>

      <scan class="animate" data-ng-repeat="scan in pagination.scans" scan="scan"></scan>

      <div class="pagination">
        <label translate>Page</label>
        <span>{{pagination.page}}</span>
        <div data-ng-repeat="link in pagination.links">
          <div data-ng-repeat="type in link.types" class="pagination-item">
            <button data-ng-click="retrieveScansByURI(link.href)">
              <i class="fa fa-forward" data-ng-if="type == 'next'"></i>
              <i class="fa fa-backward" data-ng-if="type == 'prev'"></i>
              <i class="fa fa-fast-backward" data-ng-if="type == 'first'"></i>
              <i class="fa fa-fast-forward" data-ng-if="type == 'last'"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="pagination">
        <label translate>Page size</label>
        <div data-ng-repeat="pageSize in pageSizes" class="pagination-item">
          <span data-ng-if="pageSize == pagination.pageSize">{{pageSize}}</span>
          <button data-ng-if="pageSize != pagination.pageSize"
            data-ng-click="retrieveScans(pagination.page, pageSize)">

            {{pageSize}}
          </button>
        </div>
      </div>

      <div class="message error" data-ng-if="error">{{error}}</div>
      <div class="message success" data-ng-if="success">{{success}}</div>
    </section>

    <footer>
      <small>© Copyright 2014 Rafael Dantas Justo. All rights reserved.</small>
    </footer>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-cookies.min.js"></script>
    <script src="/js/angular-translate.min.js"></script>
    <script src="/js/angular-translate-loader-static-files.min.js"></script>
    <script src="/js/angular-translate-storage-cookie.min.js"></script>
    <script src="/js/angular-translate-storage-local.min.js"></script>
    <script src="/js/moment-with-langs.min.js"></script>
    <script src="/js/shelter.js"></script>
  </body>
</html>