<!doctype html>

<html>
  <header>
    <title>Shelter</title>

    <meta charset="utf-8">
    <meta name="description" content="Shelter web client">
    <meta name="author" content="Rafael Dantas Justo">

    <link rel="stylesheet" type="text/css" href="/css/shelter.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  </header>

  <body data-ng-app="shelter">
    <h1 data-ng-cloak translate>Shelter</h1>

    <section data-ng-cloak data-ng-controller="languagesCtrl">
      <button data-ng-click="changeLanguage('en_US')">en-US</button>
      <button data-ng-click="changeLanguage('pt_BR')">pt-BR</button>
    </section>

    <nav data-ng-cloak data-ng-init="menu = 'domains'">
      <a data-ng-click="menu = 'new_domain'">{{ "New Domain" | translate }}</a>
      <a data-ng-click="menu = 'domains'">{{ "Domains" | translate }}</a>
      <a data-ng-click="menu = 'scans'">{{ "Scans" | translate }}</a>
    </nav>

    <section data-ng-cloak data-ng-controller="domainCtrl"
      data-ng-show="menu == 'new_domain'">

      <header>
        <h2 translate>New Domain</h2>
      </header>

      <form data-ng-submit="saveDomain()">
        <fieldset>
          <legend translate>Basic information</legend>
          <label for="fqdn" translate>FQDN</label>
          <input type="text" data-ng-model="domain.fqdn"
            title="{{ 'FQDN help' | translate }}"
            pattern="^((\w((\w|\-){0,61}\w)?\.)*\w((\w|\-){0,61}\w)?)?(\.)?$"
            required>
        </fieldset>

        <fieldset data-ng-repeat="nameserver in domain.nameservers track by $index">
          <legend>{{ "Nameserver" | translate }} {{$index+1}}</legend>

          <label for="host{{$index+1}}" translate>Host</label>
          <input type="text" id="host{{$index+1}}"
            data-ng-model="domain.nameservers[$index].host"
            title="{{ 'Host help' | translate }}"
            pattern="^((\w((\w|\-){0,61}\w)?\.)*\w((\w|\-){0,61}\w)?)?(\.)?$"
            required>

          <label for="ipv4{{$index+1}}" translate>IPv4</label>
          <input type="text" id="ipv4{{$index+1}}"
            data-ng-model="domain.nameservers[$index].ipv4"
            title="{{ 'IPv4 help' | translate }}"
            pattern="^[0-9]{1,4}\.[0-9]{1,4}\.[0-9]{1,4}\.[0-9]{1,4}$">

          <label for="ipv6{{$index+1}}" translate>IPv6</label>
          <input type="text" id="ipv6{{$index+1}}"
            data-ng-model="domain.nameservers[$index].ipv6"
            title="{{ 'IPv6 help' | translate }}"
            pattern="^((?=.*::)(?!.*::.+::)(::)?([\dA-F]{1,4}:(:|\b)|){5}|([\dA-F]{1,4}:){6})((([\dA-F]{1,4}((?!\3)::|:\b|$))|(?!\2\3)){2}|(((2[0-4]|1\d|[1-9])?\d|25[0-5])\.?\b){4})$">

          <button type="button" data-ng-click="removeFromList($index, domain.nameservers)">
            <i class="fa fa-times-circle"></i>
            {{ "Remove" | translate }}
          </button>
        </fieldset>

        <button type="button" data-ng-click="addToList(emptyNameserver, domain.nameservers)">
          <i class="fa fa-plus-circle"></i>
          {{ "Add" | translate }} {{ "Nameserver" | translate }}
        </button>

        <fieldset data-ng-repeat="dnskey in domain.dnskeys track by $index">
          <legend>{{ "DNSKEY" | translate }} {{$index+1}}</legend>

          <label for="flags{{$index+1}}" translate>Flags</label>
          <select id="flags{{$index+1}}" data-ng-model="domain.dnskeys[$index].flags"
            data-ng-options="flags.id as flags.name for flags in dnskeyFlags"
            required>
          </select>

          <label for="dnskeyAlgorithm{{$index+1}}" translate>Algorithm</label>
          <select id="dnskeyAlgorithm{{$index+1}}" data-ng-model="domain.dnskeys[$index].algorithm"
            data-ng-options="algorithm.id as algorithm.name for algorithm in algorithms"
            required>
          </select>

          <label for="publickKey{{$index+1}}" translate>Public Key</label>
          <input type="text" id="publicKey{{$index+1}}" data-ng-model="domain.dnskeys[$index].publicKey"
            required>

          <button type="button" data-ng-click="removeFromList($index, domain.dnskeys)">
            <i class="fa fa-times-circle"></i>
            {{ "Remove" | translate }}
          </button>
        </fieldset>

        <button type="button" data-ng-click="addToList(emptyDNSKEY, domain.dnskeys)">
          <i class="fa fa-plus-circle"></i>
          {{ "Add" | translate }} {{ "DNSKEY" | translate }}
        </button>

        <fieldset data-ng-repeat="ds in domain.dsset track by $index">
          <legend>{{ "DS" | translate }} {{$index+1}}</legend>

          <label for="keytag{{$index+1}}" translate>Keytag</label>
          <input type="number" id="keytag{{$index+1}}"
            data-ng-model="domain.dsset[$index].keytag"
            min="1" max="65536"
            title="{{ 'Keytag help' | translate }}"
            pattern="[0-9]+"
            required>

          <label for="dsAlgorithm{{$index+1}}" translate>Algorithm</label>
          <select id="dsAlgorithm{{$index+1}}" data-ng-model="domain.dsset[$index].algorithm"
            data-ng-options="algorithm.id as algorithm.name for algorithm in algorithms"
            required>
          </select>

          <label for="digestType{{$index+1}}" translate>Digest Type</label>
          <select id="digestType{{$index+1}}" data-ng-model="domain.dsset[$index].digestType"
            data-ng-options="digestType.id as digestType.name for digestType in dsDigestTypes"
            required>
          </select>

          <label for="digest{{$index+1}}" translate>Digest</label>
          <input type="text" id="digest{{$index+1}}" data-ng-model="domain.dsset[$index].digest"
            required>

          <button type="button" data-ng-click="removeFromList($index, domain.dsset)">
            <i class="fa fa-times-circle"></i>
            {{ "Remove" | translate }}
          </button>
        </fieldset>

        <button type="button" data-ng-click="addToList(emptyDS, domain.dsset)">
          <i class="fa fa-plus-circle"></i>
          {{ "Add" | translate }} {{ "DS" | translate }}
        </button>

        <fieldset data-ng-repeat="owner in domain.owners track by $index">
          <legend>{{ "Owner" | translate }} {{$index+1}}</legend>

          <label for="email{{$index+1}}" translate>E-mail</label>
          <input type="email" id="email{{$index+1}}"
            data-ng-model="domain.owners[$index].email"
            required>

          <label for="language{{$index+1}}" translate>Language</label>
          <select id="language{{$index+1}}" data-ng-model="domain.owners[$index].language"
            data-ng-options="language for language in ownerLanguages" required>
          </select>

          <button type="button" data-ng-click="removeFromList($index, domain.owners)">
            <i class="fa fa-times-circle"></i>
            {{ "Remove" | translate }}
          </button>
        </fieldset>

        <button type="button" data-ng-click="addToList(emptyOwner, domain.owners)">
          <i class="fa fa-plus-circle"></i>
          {{ "Add" | translate }} {{ "Owner" | translate }}
        </button>

        <button type="submit">
          <i class="fa fa-floppy-o"></i>
          {{ "Save" | translate }}
        </button>
      </form>
    </section>

    <section data-ng-cloak data-ng-controller="domainsCtrl"
      data-ng-show="menu == 'domains'">

      <header>
        <h2 translate>Domains</h2>
        <span data-ng-if="pagination.numberOfItems == 1">
          ({{pagination.numberOfItems}} {{ "item" | translate }})
        </span>
        <span data-ng-if="pagination.numberOfItems > 1">
          ({{pagination.numberOfItems}} {{ "items" | translate }})
        </span>
      </header>

      <domain data-ng-repeat="domain in pagination.domains" domain="domain"></domain>

      <div data-ng-repeat="n in [] | range:pagination.numberOfPages">
        <span data-ng-if="n+1 == pagination.page">{{n+1}}</span>
        <button data-ng-if="n+1 != pagination.page"
          data-ng-click="retrieveDomains(n+1, pagination.pageSize)">

          {{n+1}}
        </button>
      </div>

      <div data-ng-repeat="pageSize in pageSizes">
        <span data-ng-if="pageSize == pagination.pageSize">{{pageSize}}</span>
        <button data-ng-if="pageSize != pagination.pageSize"
          data-ng-click="retrieveDomains(pagination.page, pageSize)">

          {{pageSize}}
        </button>
      </div>
    </section>

    <section data-ng-cloak data-ng-controller="scanCtrl"
      data-ng-show="menu == 'scans'">

      <header>
        <h2 translate>Scans</h2>
        <span data-ng-if="pagination.numberOfItems == 1">
          ({{pagination.numberOfItems}} {{ "item" | translate }})
        </span>
        <span data-ng-if="pagination.numberOfItems > 1">
          ({{pagination.numberOfItems}} {{ "items" | translate }})
        </span>
      </header>

      <scan data-ng-repeat="scan in pagination.scans" scan="scan"></scan>

      <div data-ng-repeat="n in [] | range:pagination.numberOfPages">
        <span data-ng-if="n+1 == pagination.page">{{n+1}}</span>
        <button data-ng-if="n+1 != pagination.page"
          data-ng-click="retrieveScans(n+1, pagination.pageSize)">

          {{n+1}}
        </button>
      </div>

      <div data-ng-repeat="pageSize in pageSizes">
        <span data-ng-if="pageSize == pagination.pageSize">{{pageSize}}</span>
        <button data-ng-if="pageSize != pagination.pageSize"
          data-ng-click="retrieveScans(pagination.page, pageSize)">

          {{pageSize}}
        </button>
      </div>
    </section>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-cookies.min.js"></script>
    <script src="/js/angular-translate.min.js"></script>
    <script src="/js/angular-translate-loader-static-files.min.js"></script>
    <script src="/js/angular-translate-storage-cookie.min.js"></script>
    <script src="/js/angular-translate-storage-local.min.js"></script>
    <script src="/js/shelter.js"></script>
  </body>
</html>