{
  "basePath": "<%= @base_path %>",
  "logFilename": "<%= @log_filename %>",
  "languages": [ "en-US", "pt-BR" ],

  "database": {
    "name": "<%= @db_name %>",
    "uri": "<%= @db_uri %>"
  },

  "scan": {
    "enabled": true,
    "time": "05:00:00 BRT",
    "intervalHours": 24,
    "numberOfQueriers": 400,
    "domainsBufferSize": 100,
    "errorsBufferSize": 100,
    "udpMaxSize": 4096,
    "saveAtOnce": 100,
    "connectionRetries": 3,

    "resolver": {
      "address": "<%= @scan_resolver %>",
      "port": <%= @scan_resolver_port %>
    },

    "timeouts": {
      "dialSeconds": 1,
      "readSeconds": 1,
      "writeSeconds": 1
    },

    "verificationIntervals": {
      "maxOKDays": 7,
      "maxErrorDays": 3,
      "maxExpirationAlertDays": 10
    }
  },

  "restServer": {
    "enabled": true,
    "languageConfigPath": "etc/messages.conf",

    "listeners": [
      {
        "ip": "0.0.0.0",
        "port": 4443,
        "tls": true
      }
    ],

    "timeouts": {
      "readSeconds": 5,
      "writeSeconds": 5
    },

    "acl": [ "127.0.0.0/8", "10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16" ],
    "secrets": {
      "key01": "abc123"
    }
  },

  "webClient": {
    "enabled": true,
    "staticPath": "templates/client",

    "listeners": [
      {
        "ip": "0.0.0.0",
        "port": 4444,
        "tls": true
      }
    ]
  },

  "notification": {
    "enabled": true,
    "time": "07:00:00 BRT",
    "intervalHours": 24,
    "nameserverErrorAlertDays": 7,
    "nameserverTimeoutAlertDays": 30,
    "dsErrorAlertDays": 1,
    "dsTimeoutAlertDays": 7,
    "from": "shelter@example.com.br.",
    "templatesPath": "templates/notification",

    "smtpServer": {
      "server": "smtp.gmail.com",
      "port": 587,

      "auth": {
        "type": "PLAIN",
        "username": "<%= @smtp_auth_user %>",
        "password": "<%= @smtp_auth_pwd %>"
      }
    }
  }
}
