<article>
  <header>
    <h3>{{domain.fqdn}}</h3>
  </header>

  <h4>{{ "Nameservers" | translate }}</h4>
  <div data-ng-repeat="nameserver in domain.nameservers">
    <label>{{ "Host" | translate }}</label> <span>{{nameserver.host}}</span><br>
    <label>{{ "IPv4" | translate }}</label> <span>{{nameserver.ipv4}}</span><br>
    <label>{{ "IPv6" | translate }}</label> <span>{{nameserver.ipv6}}</span><br>
    <label>{{ "Status" | translate }}</label> <span>{{nameserver.lastStatus}}</span><br>
    <label>{{ "Checked" | translate }}</label> <span>{{nameserver.lastCheckAt}}</span><br>
    <label>{{ "Last OK" | translate }}</label> <span>{{nameserver.lastOKAt}}</span>
  </div>

  <h4>{{ "DS set" | translate }}</h4>
  <div data-ng-repeat="ds in domain.dsset">
    <label>{{ "Keytag" | translate }}</label> <span>{{ds.keytag}}</span><br>
    <label>{{ "Algorithm" | translate }}</label> <span>{{ds.algorithm}}</span><br>
    <label>{{ "DigestType" | translate }}</label> <span>{{ds.digestType}}</span><br>
    <label>{{ "Digest" | translate }}</label> <span>{{ds.digest}}</span><br>
    <label>{{ "Status" | translate }}</label> <span>{{ds.lastStatus}}</span><br>
    <label>{{ "Checked" | translate }}</label> <span>{{ds.lastCheckAt}}</span><br>
    <label>{{ "Last OK" | translate }}</label> <span>{{ds.lastOKAt}}</span>
  </div>

  <h4>{{ "Owners" | translate }}</h4>
  <div data-ng-repeat="owner in domain.owners">
    <label>{{ "E-mail" | translate }}</label> <span>{{owner.email}}</span><br>
    <label>{{ "Language" | translate }}</label> <span>{{owner.language}}</span>
  </div>
</article>